<li class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1"><%= link_to wiki.title, wiki_path(wiki) %></h5>
    <small>Last updated <%= time_ago_in_words(wiki.updated_at) %> ago</small>
  </div>
</li>